{% load bootstrap4 instagram_tags humanize %}

<div class="card">
    <div class="card-header">
        <img src="{{post.author.avatar_url}}" style="width:32px; height:32px;" /> 
        <a href="{% url 'instagram:user_page' post.author.username %}">
            {{ post.author.name }}
        </a>
        
    </div>
    <div class="card-body">
        <img src="{{post.photo.url}}" />
        <div>
            {% comment %} post.is_like_user(user)를 장고 Template에서 지원X, 따라서 custom Template사용! {% endcomment %}
            {% if post|is_like_user:user  %}{# |표시는 filter 표시다 #}
                <a href="{% url "instagram:post_dislike" post.pk %}" style="color: inherit;">
                <i class="fas fa-heart"></i> 
                </a>
            {% else %}
                <a href="{% url "instagram:post_like" post.pk %}" style="color: inherit;">
                <i class="far fa-heart"></i>
                </a>
            {% endif %} 
            {# 여기 까지가 like/dislike 구현 #}
        </div>
        <div>

        <div class="comment-list mt-3 mb-3">
            {% for comment in post.comment_set.all %} {#댓글 보여주기#}
                {% include 'instagram/_comment.html' %}
            {% endfor %}
        </div>

            {% for tag in post.tag_set.all %}
            <span class="badge bg-primary"> {# badge-->bg #}
            #{{tag.name}}
            </span>
            {% endfor %}
        </div>
        <div>
            <a href="{{ post.get_absolute_url }}" class="text-muted">{#post_detail로 넘어감#}
            <small>
                {{ post.created_at|naturaltime }}
            </small>
            </a>
        </div>
        
    </div>

    <div class="card-footer">
    {#Comment 구현#}
        <form id="post-{{ post.pk }}-comment-form" action="{% url 'instagram:comment_new' post.pk %}" method="POST" enctype="">
            {% csrf_token %}
            {% bootstrap_form comment_form %} {#댓글 쓰기#}
            <button class="btn btn-secondary btn-block mt-2">
                댓글 작성
            </button>
        </form>
        {#jquery 사용하는 부분 시작#}
{#자바 스트립트, 파이썬, bootstrap4 함수는 서로 다른 영역이라 실행되는 타이밍이 다르므로 서로 호출 불가능함!#}
        {% comment %} <div id="server-response-{{ post.pk }}"></div>

        <script>
            $(function(){
                var form_id="post-{{ post.pk }}-comment-form";
                $("#"+form_id).submit(function(e){
                    e.preventDefault();
                    var options={
                        target:"#server-response-{{ post.pk }}",
                        success:function(responseText,statusText, xhr, $form){
                            console.group("ajaxSubmit response");
                            console.log(responseText);
                            console.log(statusText);
                            console.log(xhr);
                            console.log($form);
                            console.groupEnd();
                        }
                    };
                    $(this).ajaxSubmit(options);

                    console.log("submit!!");
                });
                console.log("document ready.");
            });
        </script>

    
    </div> {% endcomment %}
</div>